# Import ?

In [5]:
import pandas as pd

# Charger les donnÃ©es ?

In [1]:
# path='https://raw.githubusercontent.com/Kaushik-Varma/Marketing_Data_Analysis/master/Marketing_Analysis.csv'
path='Marketing_Analysis.csv'
data = pd.read_csv(path, skiprows=2, index_col='customerid')
data

NameError: name 'pd' is not defined

# head() Vs. tail() ?

In [7]:
# Afficher les premiÃ¨res et derniÃ¨res lignes
display(data.head(), data.tail())

,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
customerid,,,,,,,,,,,,,,,,,,
1,58.0,100000,2143,married,"management,tertiary",yes,no,yes,no,unknown,5,"may, 2017",261 sec,1,-1,0,unknown,no
2,44.0,60000,29,single,"technician,secondary",yes,no,yes,no,unknown,5,"may, 2017",151 sec,1,-1,0,unknown,no
3,33.0,120000,2,married,"entrepreneur,secondary",yes,no,yes,yes,unknown,5,"may, 2017",76 sec,1,-1,0,unknown,no
4,47.0,20000,1506,married,"blue-collar,unknown",no,no,yes,no,unknown,5,"may, 2017",92 sec,1,-1,0,unknown,no
5,33.0,0,1,single,"unknown,unknown",no,no,no,no,unknown,5,"may, 2017",198 sec,1,-1,0,unknown,no

,age,salary,balance,marital,jobedu,targeted,default,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,response
customerid,,,,,,,,,,,,,,,,,,
45207,51.0,60000,825,married,"technician,tertiary",yes,no,no,no,cellular,17,"nov, 2017",16.2833333333333 min,3,-1,0,unknown,yes
45208,71.0,55000,1729,divorced,"retired,primary",yes,no,no,no,cellular,17,"nov, 2017",7.6 min,2,-1,0,unknown,yes
45209,72.0,55000,5715,married,"retired,secondary",yes,no,no,no,cellular,17,"nov, 2017",18.7833333333333 min,5,184,3,success,yes
45210,57.0,20000,668,married,"blue-collar,secondary",yes,no,no,no,telephone,17,"nov, 2017",8.46666666666667 min,4,-1,0,unknown,no
45211,37.0,120000,2971,married,"entrepreneur,secondary",yes,no,no,no,cellular,17,"nov, 2017",6.01666666666667 min,2,188,11,other,no

# Afficher les types des colonnes ?

In [8]:
# Types des colonnes
data.info()

# VÃ©rifier les valeurs manquantes
#data.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 45211 entries, 1 to 45211
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       45191 non-null  float64
 1   salary    45211 non-null  int64
 2   balance   45211 non-null  int64
 3   marital   45211 non-null  object
 4   jobedu    45211 non-null  object
 5   targeted  45211 non-null  object
 6   default   45211 non-null  object
 7   housing   45211 non-null  object
 8   loan      45211 non-null  object
 9   contact   45211 non-null  object
 10  day       45211 non-null  int64
 11  month     45161 non-null  object
 12  duration  45211 non-null  object
 13  campaign  45211 non-null  int64
 14  pdays     45211 non-null  int64
 15  previous  45211 non-null  int64
 16  poutcome  45211 non-null  object
 17  response  45181 non-null  object
dtypes: float64(1), int64(6), object(11)
memory usage: 6.6+ MB

# Extract job & Education in newly from "jobedu" column ?

In [18]:
# Exemple : Extraction job & education depuis 'jobedu' si cette colonne existe
data['jobedu'].dropna().astype(str)
display(data[['job','education']].head(10))

                     job  education
customerid
1             management   tertiary
2             technician  secondary
3           entrepreneur  secondary
4            blue-collar    unknown
5                unknown    unknown
6             management   tertiary
7             management   tertiary
8           entrepreneur   tertiary
9                retired    primary
10            technician  secondary

# Splitter la col "duration" pour obtenir les durÃ©es et les unitÃ©s ("sec" et "min") ?

In [15]:
data[['durÃ©e', 'unitÃ©']] = data['duration'].str.extract(r'(\d+)\s*(\w+)', expand=True)
data['durÃ©e'] = pd.to_numeric(data['durÃ©e'], errors='coerce')
display(data[['duration', 'durÃ©e', 'unitÃ©']].head())

           duration  durÃ©e unitÃ©
customerid
1           261 sec    261   sec
2           151 sec    151   sec
3            76 sec     76   sec
4            92 sec     92   sec
5           198 sec    198   sec

# Combiner les colonnes day et month en col `Date` : '%d/%m/%Y' ?

In [19]:
data['Date'] = pd.to_datetime(data[['year','month','day']])

KeyError: "['year'] not in index"

# VÃ©rifier les donnÃ©es manquantes ?

# RÃ©sumÃ© statistique de la col "Age" (moyenne, medianne, max, ...) et la reprÃ©senter graphiquement ?

# Trier la data suivant la col "Age" ?

# Supprimer les donnÃ©es manquantes de la col "Age" ?

# Remplir les donnÃ©es manquantes de la col "Month" avec le mois qui revient le plus ?

# Supprimer les donnÃ©es manquantes de la col "response" ?

# Chercher les valeurs extrÃªmes des cols numÃ©riques ?

# DÃ©crire les col de type Categorical : Recherche d'Outlier, value_counts(), ... ?

# Analyse bivariÃ©e : NumÃ©ric - NumÃ©ric

# Creating a correlation matrix using age, salry, balance ?

# Analyse BivariÃ©e : NumÃ©ric -  Categorical

# BivariÃ©e Categorical - Categorical